<div class="container">

	<br />

	<div class="row">
		<div class="col-xs-6">
			<h1>@(All tickets)</h1>
		</div>
		<div class="col-xs-6 right">
			<button class="button-small button-relative" data-jc="click" data-jc-path="tickets_new"><i class="fa fa-plus-circle"></i>@(NEW)</button>
		</div>
	</div>

	<div class="filter filter-minimal">
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="tickets.filter.search" data-placeholder="@(Search ...)" data-control-icon="fa-search"></div>
				<div class="help" data-jc="template" data-jc-path="tickets.grid"><script type="text/html">{{ count | pluralize(@('# items','# item','# items','# items')) }} / {{ pages | pluralize(@('# pages','# page','# pages','# pages')) }}</script></div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="dropdown" data-jc-path="tickets.filter.project" data-source="common.cdl.projects" data-empty="@(All projects)"></div>
				<div>&nbsp;</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="dropdowncheckbox" data-jc-path="tickets.filter.labels" data-source="common.cdl.labels" data-placeholder="@(All labels)"></div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="dropdown" data-jc-path="tickets.filter.language" data-source="common.cdl.languages" data-empty="@(All languages)"></div>
				<div>&nbsp;</div>
			</div>
		</div>
	</div>

	<ul class="tabmenu" data-jc="tabmenu" data-jc-path="tickets.filter.state">
		<li data-value="0" class="selected">@(Open)</li>
		<li data-value="1">@(Closed)</li>
	</ul>

	<div data-jc="grid" data-jc-id="tickets.grid" data-jc-path="tickets.grid" data-pagination-path="tickets.filter.page" data-max="auto" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)" data-height="52">
		<script type="text/html">
			<div class="tickets-issue{{ if ispriority }} tickets-issue-priority{{ fi }}{{ if iduserlast && iduser !== iduserlast }} tickets-issue-change{{ fi }}" data-id="{{ id }}">
				<div class="photo"><img src="{{ photo | photo }}" width="33" height="33" alt="{{ user }}" /></div>
				<div class="header">
					<div class="name">{{ if !idsolver }}<i class="fa fa-spin fa-refresh mr5 silver"></i>{{ fi }}{{ if solver }}<span class="badge badge-green mr5">@(solver)</span>{{ fi }}{{ if minutes }}<span class="badge badge-blue mr5">{{ minutes | pluralize(@('# minutes', '# minute', '# minutes', '# minutes')) }}</span>{{ fi }}{{ name }}</div>
					<div class="author">{{ user }}, {{ company }} {{ labels | labels }}</div>
				</div>
				<div class="info hidden-xs hidden-sm">
					<div class="project">{{ project }}<i class="fa fa-folder"></i></div>
					<div class="date">{{ datecreated | time }}</div>
				</div>
				{{ if countcomments }}
				<div class="comments">
					{{ countcomments }}<i class="fa fa-comments"></i>
				</div>
				{{ fi }}
			</div>
		</script>
	</div>
</div>

<div data-jc="form" data-title="@(Ticket)" data-jc-path="common.form" data-if="value === 'tickets'" data-width="500px" data-jc-id="tickets.form" class="hidden">
	<div class="padding" data-jc="tagger" data-jc-path="tickets.user">
		<div class="row">
			<div class="col-md-6">
				<div class="keyvalue">
					<div class="key"><i class="fa fa-clock-o"></i>@(Spent minutes)</div>
					<div class="value" data-name="minutesspent" data-format="n => Tangular.helpers.pluralize(n, @('# minutes', '# minute', '# minutes', '# minutes'))">...</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="keyvalue">
					<div class="key"><i class="fa fa-credit-card"></i>@(Subscription)</div>
					<div class="value" data-name="minutesuser" data-format="n => Tangular.helpers.pluralize(n, @('# minutes', '# minute', '# minutes', '# minutes'))">...</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padding npt">
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="tickets.form.name" data-required="true" data-placeholder="@(e.g. A problem with layout)" data-jc-value="''" data-maxlength="80">@(Ticket name)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="dropdown" data-jc-path="tickets.form.project" data-required="true" data-source="common.cdl.projects" data-empty="" data-jc-value="''">@(Project)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div data-jc="checkbox" data-jc-path="tickets.form.ispriority" data-jc-value="false" class="b black">@(HIGH PRIORITY)</div>
				<div data-jc="visible" data-jc-path="user.ispriority" data-if="!value" class="mt10 help">
					<i class="fa fa-warning red"></i>@(You don't have purchased priority support.)
				</div>
			</div>
		</div>
	</div>
	<div data-jc="error" data-jc-path="tickets.form.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="tickets.form" class="inline">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	$(document).on('click', '.tickets-issue', function() {
		jR.redirect('/tickets/{0}/'.format($(this).attr('data-id')));
	});

	var tickets = {};

	tickets.form = {};
	tickets.form.body = '';
	tickets.grid = {};
	tickets.filter = { page: 1, search: '', state: '0' };

	ON('#tickets.grid', function(component) {
		// Max items per page
		tickets.filter.max = component.max;
		tickets_refresh();
		SCHEDULE('#tickets.grid', 'manually', '10 minutes', function(component) {
			tickets_refresh();
		});
	});

	function tickets_new() {
		DEFAULT('tickets.form.*');
		SET('common.form', 'tickets');
		AJAXCACHE('GET /api/account/minutes/', null, 'tickets.user', '2 minutes');
	}

	function tickets_refresh(reset) {
		if (reset)
			tickets.filter.page = 1;
		AJAX('GET /api/tickets/', tickets.filter, function(response) {

			response.items.forEach(function(item) {
				item.solver = item.idsolver === user.id;
			});

			SET('tickets.grid', response);
		});
	}

	// Watch for changes in product filter
	WATCH('tickets.filter.*', function(path, value) {
		if (NOTMODIFIED('tickets.filter', tickets.filter))
			return;
		tickets_refresh(path !== 'tickets.filter.page');
	});

	ON('#tickets.form', function(component) {
		component.submit = function(hide) {
			AJAX('POST /api/tickets/', tickets.form, function(response) {
				SET('tickets.form.response', response);
				if (response instanceof Array)
					return;
				tickets_refresh();
				jR.redirect('/tickets/{0}/'.format(response.value));
				success(true);
				hide();
			});
		};
	});


</script>