@{layout('~mails/layout')}

<div style="font-size:20px;color:#A0A0A0"><b>@{model.name}</b></div>
<br />
<div>@(Welcome to <b>HelpDesk</b>. Please sign in to your account via the link below and then change your password.)</div>
<br />
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Dashboard)</div>
	<div style="color:#A0A0A0"><a href="@{config.url}" style="color:#A0A0A0;text-decoration:none">@{config.url}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Login name)</div>
	<div style="color:#A0A0A0">@{model.email}</div>
</div>
<div style="margin-bottom:10px;line-height:18px;border-bottom:1px solid #F0F0F0;padding-bottom:5px">
	<div style="font-weight:bold;text-transform:uppercase;color:black">@(Password)</div>
	<div style="color:#A0A0A0">************</div>
</div>
<div style="color:#DA4453;margin-top:10px"><b>@(Please click on the link below:)</b></div>
<div><a href="@{config.url}/?token=@{model.token}">@{config.url}/?token=@{model.token}</a></div>